* {
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
  }
  img {
    display: block;
    width: 150px;
    float: left;
    height: 150px;
    border: 2px solid lightblue;
  }
  #imgContainer {
    padding-left: 200px;
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
    height: 200px;
  }
  #limg,#mimg,
  #rimg {
    width: 100px;
    margin: 10px;

    border-radius: 10px;
  }
  span {
    margin-left: 50px;
  }
  #num {
    margin-left: 20px;
    font-size: 30px;
  }
  
  button{

    background-color:blue;
    border: 2px solid black;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;

  }

  button:hover {
    background-color: #4CAF50; 
    color: white;
  }

  input[type=submit]{
    background-color:blue;
    border: 2px solid black;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;

  }
  input[type=submit]:hover{
    background-color: #4CAF50; 
    color: white;

  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=text]:focus {
    background-color: lightblue;
    border-radius: 8px;
  }